*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    max-width: 900px;
    margin: 0 auto;
    overflow-x: hidden;
}
body *::before,
body *::after {
    display: block;
}
img {
    max-width: 100%;
}
h1 {
    text-align: center;
    margin: 25px;
}
.slider__over {
    background-color: gray;
    border: 1px solid;
    width: 100%;
    position: relative;
}
.slider__under {
    background-color: white;
    border: 1px solid;
    width: 90%;
    font-size: 0;
    margin: 0 auto;
}
.slider__buttons button {
    background-color: blue;
    color: white;
    width: 3vw;
    max-width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    position: absolute;
    cursor: pointer;
}
.slider__prev {
    top: 40%;
    left: 0.5vw;
}
.slider__next {
    top: 40%;
    right: 0.5vw;
}
.slider__dots {
    list-style: none;
    height: 3vw;
    min-height: 20px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.slider__dots * {
    background-color: blue;
    width: 1vw;
    max-width: 12.5px;
    min-width: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
}